{{! Add additional meta tags here}}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

{{! OpenGraphProtocol }}
<meta property="og:type" content="website">
{{#if site.title}}<meta property="og:site_name" content="{{site.title}}">{{/if}}
{{#if page.versions}}
<meta property="og:title" content="[{{page.componentVersion.displayVersion}}] {{{detag (or page.title 'Untitled')}}}">
{{else}}
<meta property="og:title" content="{{{detag (or page.title 'Untitled')}}}">
{{/if}}

{{#if page.description}}
<meta property="og:description" content="{{page.description}}">
{{else}}
<meta property="og:description" content="Learn more about Fedora Linux, the Fedora Project & the Fedora Community.">
{{/if}}
<meta property="og:image" content="{{ site.url }}{{ site.ui.url }}/img/docs_logo.png">

